<header></header>




<h1 class="page-header"></h1>


<div class="col-lg-12"> 

    <!--  <div class="panel panel-default"> <div class="panel-heading"><button class="w3-btn w3-green"> Add User</button></div> --> <!-- /.panel-heading --> 




    <div class="panel-body">

        <div class="modal-content">
            <div class="modal-header table-header">
                <!--   <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">User list</h4>
            </div>
            <div class="modal-body">
             <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="alert alert-danger" ng-show="Error == false">
                            <strong>Danger!</strong> {{ErrorMessage}}
                        </div>
                        <div class="alert alert-success" ng-show="Success == false">
                            <strong>Success!</strong> {{successMessage}}
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
             <div 	class="row">
                <div class="col-md-12 add-btn">
                    <a href="/#/addUser" class="w3-btn w3-green w3-right">Add User</a>
               </div>
           </div> 
           <div class="userlisi-wrap"> 


               <table class="table table-bordered table-striped" datatable="ng" dt-options="dtOptions">
                <thead>
                    <tr>
                        <th class="w3-center">Image</th>
                        <th class="w3-center">Firstname</th>
                        <th class="w3-center">Lastname</th>
                        <th class="w3-center">Mobile</th>
                        <th class="w3-center">Status</th>
                        <th class="w3-center">Date Added</th>
                        <th class="w3-center">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="user in users"> 
                    {{user}}
                        <td class="w3-center"><img height=50px src="{{user.image_path}}"></td>
                        <td class="w3-center">{{user.first_name}}</td>
                        <td class="w3-center">{{user.last_name}}</td>
                        <td class="w3-center">{{user.mobile}}</td>

                        <td class="w3-center">
                            <span ng-show="{{user.status==1}}" class="w3-text-green w3-center w3-text-bold">Enabled</span>
                            <span ng-show="{{user.status==0}}" class="w3-text-red w3-center w3-text-bold">Disabled</span>

                        </td>

                        <td class="w3-center">2017-10-05</td>
                        <td>
                            <a  href="/#/editUser/{{user._id}}" class="btn btn-default btn-sm btn-icon icon-left"><i class="entypo-pencil"></i>
                                Edit
                            </a>
                            <a  ng-confirm="Are you sure you want to delete ?"  ng-click='deleteUser(user._id)'  class="btn btn-danger btn-sm btn-icon icon-left" > <i class="entypo-cancel"></i>
                                Delete
                            </a>

                        </td>
                    </tr>

                </tbody>

            </table>
        </div> 


    </div>

</div>



</div> <!-- /.table-responsive --> </div> <!-- /.panel-body --> </div> <!-- /.panel --> </div> <!-- /.col-lg-6 --> </div></div>

